@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1240px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  position: relative;
}

video::cue {
  background: #911c1c;
  color: #fff;
  font-family: lato;
  font-size: 14;
  text-align: center;
  border-radius: 20px;
}

header {
  color: #911c1c;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}
header #logo {
  background: url(../svg/logo.svg) center center no-repeat;
  width: 180px;
  height: 45px;
  cursor: pointer;
  margin-left: 20px;
}
header #tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
header span a {
  color: #911c1c;
  font-size: 12px;
  font-weight: bold;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin: 5px 5px;
  padding: 2px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
header span a:hover {
  color: #fff;
  background: #911c1c;
}
header span a:focus {
  color: #fff;
  background: #911c1c;
}
header h1 {
  font-size: 36px;
  text-align: center;
  margin-left: 20px;
}
header #topLink {
  position: fixed;
  left: 50%;
  width: 182px;
  height: 30px;
  transform: translateX(-50%);
  background: #db8876;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  font-size: 18px;
  font-weight: 700;
  z-index: 5;
}
header #topLink:visited {
  color: initial;
}

.hide {
  display: none;
  top: -35px;
  opacity: 0;
  transition: all 0.4s ease;
}

.show {
  opacity: 1;
  top: 20px;
}

.photographList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.photographList a {
  text-decoration: none;
}

.photographItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  cursor: initial;
}
.photographItem__id {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographItem__id a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
}
.photographItem__id a:focus {
  background: rgba(145, 28, 28, 0.15);
  border-radius: 20px;
  padding: 10px;
}
.photographItem__id__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographItem__id__photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.4s ease;
  cursor: pointer;
}
.photographItem__id__photo img:hover {
  transform: scale(1.08);
}
.photographItem__id__name {
  color: #d3573c;
  font-size: 36px;
  margin-top: 20px;
  font-weight: 400;
  cursor: pointer;
}
.photographItem__descript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.photographItem__descript__city {
  color: #911c1c;
  font-size: 13px;
}
.photographItem__descript__phrase {
  margin-top: 3px;
  font-size: 11px;
}
.photographItem__descript__price {
  margin-top: 5px;
  font-size: 11px;
  color: #757575;
}
.photographItem__descript:focus {
  background: rgba(145, 28, 28, 0.15);
  border-radius: 20px;
  padding: 10px;
}
.photographItem__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.photographItem__tags span {
  color: #911c1c;
  font-size: 12px;
  font-weight: bold;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin: 5px 5px;
  padding: 2px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.photographItem__tags span:hover {
  color: #fff;
  background: #911c1c;
}
.photographItem__tags span:focus {
  color: #fff;
  background: #911c1c;
}

.photographPage {
  display: flex;
  flex-direction: column;
}
.photographPage__head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fafafa;
  position: relative;
  height: 310px;
}
.photographPage__head .contact {
  align-self: flex-start;
  margin-top: 60px;
  margin-left: 20px;
  background: #911c1c;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 170px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.photographPage__head .contact:hover {
  background: #d3573c;
  color: #000;
}
.photographPage__head .contact:focus {
  background: #d3573c;
  color: #000;
}
.photographPage__head .contact:visited {
  color: initial;
}
.photographPage__head__descript {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.photographPage__head__descript-name {
  font-size: 64px;
  font-weight: 300;
  margin: 0;
  color: #d3573c;
}
.photographPage__head__descript-city {
  font-size: 24px;
  color: #911c1c;
}
.photographPage__head__descript-phrase {
  font-size: 18px;
  color: #525252;
  margin-top: 15px;
}
.photographPage__head__descript-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 15px;
}
.photographPage__head__descript-tags a {
  color: #911c1c;
  font-size: 18px;
  font-weight: bold;
  border: 0.5px solid #c4c4c4;
  border-radius: 14px;
  margin: 5px 5px;
  padding: 2px 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}
.photographPage__head__descript-tags a:hover {
  color: #fff;
  background: #911c1c;
}
.photographPage__head__descript-tags a:focus {
  color: #fff;
  background: #911c1c;
}
.photographPage__head__id {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
}
.photographPage__head__id-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.photographPage__head__id-photo img:hover {
  transform: scale(1.1);
}

.sortWrapper {
  position: relative;
  user-select: none;
  width: 170px;
  margin-top: 30px;
}
.sortWrapper #sortby {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.sortWrapper__select {
  position: absolute;
  width: 100%;
  left: 100px;
  top: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.sortWrapper__select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  height: 60px;
  background: #911c1c;
  cursor: pointer;
  transition: all 0.4s ease;
}
.sortWrapper__select-trigger:hover {
  background: #d3573c;
  color: #000;
}
.sortWrapper__select-trigger:focus {
  background: #d3573c;
  color: #000;
}
.sortWrapper__options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #911c1c;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.sortWrapper__options-value {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.sortWrapper__options-value:hover {
  cursor: pointer;
  background: #d3573c;
  color: black;
}
.sortWrapper__options-value:focus {
  background: #d3573c;
  color: #000;
}
.sortWrapper__options-value.selected {
  color: #fff;
  background: #911c1c;
}
.sortWrapper__options-value.selected:hover {
  cursor: pointer;
  background: #d3573c;
  color: black;
}
.sortWrapper__options-value.selected:focus {
  background: #d3573c;
  color: #000;
}

.sortWrapper__select.open .sortWrapper__options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

.black .arrow::before {
  background-color: #000;
}

.black .arrow::after {
  background-color: #000;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery__sample {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 30px;
  width: 350px;
}
.gallery__sample .image {
  height: 300px;
}
.gallery__sample video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.gallery__sample video:hover {
  transform: scale(1.05) skewX(1deg) skewY(-1deg) translateY(-10px);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.9);
}
.gallery__sample img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.gallery__sample img:hover {
  transform: scale(1.05) skewX(1deg) skewY(-1deg) translateY(-10px);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.9);
}
.gallery__sample__descript {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery__sample__descript-name {
  flex-grow: 3;
  font-weight: 400;
  color: #911c1c;
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery__sample__descript-like {
  font-weight: 500;
  font-size: 24px;
  color: #911c1c;
  cursor: pointer;
  align-self: flex-end;
}
.gallery__sample__descript-heart {
  color: #911c1c;
  font-size: 20px;
  padding: 0 5px;
}

.unliked {
  color: #911c1c;
}

.liked {
  color: red;
}

.likedHeart {
  animation: likedHeart 1.5s ease 1 forwards;
}

@keyframes likedHeart {
  10% {
    color: red;
    text-shadow: 0 0 1px red, 0 0 2px red;
  }
  100% {
    color: #911c1c;
  }
}
.likeAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #d3573c;
  width: 376px;
  height: 67px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.likeAndPrice__like {
  font-weight: 500;
  font-size: 24px;
}
.likeAndPrice__price {
  font-weight: 500;
  font-size: 24px;
}

.preview-box {
  position: fixed;
  width: max-content;
  max-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

.preview-box.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
  transition: all 0.4s ease;
}

.imgBox {
  display: flex;
  width: 100%;
  height: auto;
  background: #fff;
  max-height: 80vh;
  object-fit: cover;
  position: relative;
}
.imgBox__slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color: #911c1c;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 3;
}
.imgBox .prev {
  left: -60px;
}
.imgBox .prev:focus {
  font-size: 50px;
}
.imgBox .next {
  right: -60px;
}
.imgBox .next:focus {
  font-size: 50px;
}
.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgBox__close {
  color: #911c1c;
  cursor: pointer;
  position: absolute;
  font-size: 35px;
  font-weight: lighter;
  right: -40px;
}
.imgBox__close:focus {
  font-size: 50px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  display: none;
}

.dialog[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
}

.dialog {
  min-width: 470px;
  height: 560px;
  display: flex;
  flex-direction: column;
  background: #db8876;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  transition: all 0.4s ease;
  z-index: 2;
}
.dialog__box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dialog__box-name, .dialog__box-contact {
  font-weight: 400;
  font-size: 45px;
  margin-top: 20px;
  line-height: 3px;
}
.dialog__box-close {
  font-size: 30px;
  width: 40px;
  height: 40px;
  background: transparent;
  font-weight: lighter;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.dialog__box-close i {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  z-index: 20;
}
.dialog__box-modal {
  display: flex;
  flex-direction: column;
}
.dialog__box-modal label {
  font-size: 25px;
}
.dialog__box-modal input {
  width: 100%;
  font-size: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: -20px;
}
.dialog__box-modal textarea {
  width: 100%;
  border: none;
  margin-top: -20px;
  border-radius: 5px;
}
.dialog__box-modal button {
  width: 170px;
  height: 70px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  background: #911c1c;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.dialog__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 670px;
}
.dialog__form label {
  font-size: 25px;
}
.dialog__form input {
  width: 100%;
  font-size: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.error {
  color: #911c1c;
  font-size: 15px;
}

@media (max-width: 1040px) {
  .contact {
    max-height: 35px;
    position: absolute;
    right: 65px;
    bottom: 30px;
  }

  .photographPage__head__id-photo {
    margin-top: -35px;
  }
}
@media (max-width: 1200px) {
  .gallery {
    justify-content: space-evenly;
  }
  .gallery__sample {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 860px) {
  .photographList {
    margin-top: 50px;
  }

  #tags {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
  }

  header h1 {
    font-size: 24px;
  }

  .photographPage__head {
    height: auto;
  }

  .photographPage__head__descript {
    margin-left: 20px;
  }

  .photographPage__head__id {
    position: relative;
    width: 150px;
    height: 150px;
  }

  .photographPage__head__id-photo img {
    height: 150px;
    width: 150px;
  }

  .photographPage__head__id-photo {
    margin-top: 0px;
  }

  .contact {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    right: 103px;
    bottom: 45px;
    font-size: 18px;
    z-index: 1;
  }

  .sortWrapper__select-trigger {
    height: 40px;
    border-radius: 5px;
  }

  .photographPage__head__descript-name {
    font-size: 36px;
  }

  .photographPage__head__descript-city {
    font-size: 13px;
  }

  .photographPage__head {
    background: #fff;
  }

  .photographPage__head__descript-phrase {
    font-size: 13px;
  }

  .photographPage__head__descript-tags a {
    font-size: 13px;
  }

  .photographPage__head {
    justify-content: space-between;
  }

  .likeAndPrice {
    height: 50px;
  }

  header {
    height: 80px;
  }
}
@media (max-width: 720px) {
  .photographList {
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .photographPage__head__id {
    right: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 550px) {
  header h1 {
    font-size: 20px;
  }

  .photographPage__head__id {
    top: -25px;
    height: 100px;
    width: 100px;
  }

  .photographPage__head__id-photo img {
    height: 100px;
    width: 100px;
  }

  .photographPage__head__descript-phrase {
    margin-top: 5px;
  }

  .photographPage__head__descript-tags {
    margin-top: 3px;
    margin-left: -5px;
  }

  .sortWrapper {
    display: none;
  }

  .likeAndPrice {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
  }

  .contact {
    bottom: 40px;
    left: 45%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
